<div class="container-fluid margin" *ngIf="currentBook">
  <div class="row ">
    <div class="col-12">
      <h1>Book details </h1>

      <p class="book">released by {{currentBook.released | date }}</p>
      <br>
      <br>
    </div>
  </div>
  <div class="row ">
    <div class="col-12">
      <p>Book Name: {{currentBook.name ?currentBook.name:'Not Available'}}</p>
      <hr>
      <p *ngIf="currentBook.authors.length>0">Authors:
        <span *ngFor="let author of currentBook.authors">{{author}}</span>
      </p>
      <hr>
      <p>Isbn: {{currentBook.isbn}}</p>
      <hr>
      <p>Number Of Pages: {{currentBook.numberOfPages}}</p>
      <hr>
      <p>Publisher: {{currentBook.publisher}}</p>
      <hr>
      <p>Country: {{currentBook.country}}</p>
      <hr>
      <p>Media Type: {{currentBook.mediaType}}</p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 " style="align-items: center">
      <a class="btn btn-warning" (click)="goBackToPreviousPage()">Go Back </a>
    </div>
  </div>

</div>